.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo-link {
  color: #61dafb;
  padding: 0 1vh 0 1vh;
  margin: 1vh 0 1vh 0;
}

.App-logo-link-text {
  margin: 1vh 0 1vh 0 !important;
}
.App-weather-display {
  padding: 2vh;
  background-color: #E36001;
  border-radius: .3rem;
}

.App-weather-display-text {
  margin: 0;
  text-align: left;
}